* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border-bottom: 2px solid #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Parte de arriba del header */
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fff;
    border-bottom: 2px solid #f0f0f0;
}

/* Logo y nombre de la tienda */
.logo-nombre {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-nombre img {
    width: 40px;
    height: auto;
}

.logo {
    font-weight: bold;
    font-size: 1.6em;
    color: #e53935;
}

.logo span {
    color: #333;
}

/* Buscador */
.container-header input {
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 600px;
}

/* Botones carrito y login */
.carrito-login {
    display: flex;
    gap: 50px;
}

.carrito-login button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.carrito-login button {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.carrito-login .carrito {
    background-color: #e53935;
    color: white;
}

.carrito-login .login {
    background-color: #f0f0f0;
    color: #333;
}

/* Barra de navegación */
nav {
    background-color: #e53935;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    margin: 0;
}

nav ul li {
    position: relative;
    margin: 0 30px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #fff;
    left: 50%;
    bottom: -5px;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

nav ul li:hover::after,
nav ul li.active::after { /* active para elemento seleccionado */
    width: 100%;
}