/* ======== RESETEO GENERAL ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  color: #333;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}