// ======= VARIABLES DE COLOR ======= //
$color-principal: #e53935;
$color-principal-dark: #c62828;
$color-secundario: #f0f0f0;
$color-fondo: #f9f9f9;
$color-texto: #333;
$color-footer-bg: #000;
$color-footer-texto: #f1f1f1;
$color-hover: #e53935;

// ======= VARIABLES DE BOOTSTRAP ======= //
$primary: $color-principal;
$secondary: $color-secundario;
$success: #10b981;
$danger: $color-principal-dark;
$body-bg: $color-fondo;
$body-color: $color-texto;

// ======= TIPOGRAFÍA ======= //
$font-family-base: 'Arial', sans-serif;