@import "reseteo";
@import "variables";

@import "../node_modules/bootstrap/scss/bootstrap";

@import "layout";
@import "components";
@import "custom";
@import "pages/home";
@import "pages/login";
@import "pages/registro";
@import "pages/evento";
@import "pages/comunidad";
@import "pages/productosComics";
@import "pages/comic";